<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="root-container">
    <p>
        Exibith A
        <br> <br> <br>
        <strong>SERVICE RELATED PAYMENTS</strong>
        Figures can be in USD or MXN (Mexican Pesos), as specified. Credit card processing fees are additional. Set up a recurring payment with Wise to save up to 4%. <br>
    </p>
    <div class="payment-container">
        <p>
            1. <strong>Onboarding Fee/Deposit.</strong>  A refundable Deposit of $_______ USD, Payable at the signing of the contract in order to hire staff. Charged by 5CRE’s LATAM affiliate <br> <br>
            2. <strong> Security</strong> Deposit of _____MXN ($____USD at time of writing, subject to change) (One month of salary), and Payable at the signing of the contract. Charged by 5CRE’s LATAM affiliate <br> <br>
            3. <strong>Bi-weekly Wage Payment of</strong>  _____MXN ($____USD at time of writing, subject to change), Payable at 1st and 15th of every month, charged by 5CRE’s LATAM affiliate. <br> <br>
            4. <strong> Bi-weekly Rental Fee</strong> os 200 USD per desk charged by 5CRE <br> <br>
        </p>
        {{payment_schedule}}
        <p>PAYMENT SCHEDULE</p>
        <p>
            5. <strong>Other payments.</strong> <br> <br>
            <strong>Christmas bonus:</strong> ____ MXN ($____USD at time of writing, subject to change), payable for all workers who have been working at your organization for 4 or more months. Charged by 5CRE’s LATAM affiliate. Payable On December 1. <br>
            <strong>Apartment Fee:</strong>_____ USD, Charged by 5CRE’s LATAM affiliate. Payable On:
        </p>
    </div>


</div>
</body>
</html>