.logo-container {
  height: 124px;
  width: 134px;
}

.root-container {
  margin-top: -1cm;
  margin-left: -1cm;
  margin-right: -1cm;
  margin-bottom: -0.5cm;
  font-family: 'arial';
  font-size: 15px;
  page-break-after: always;
}

.container {
    display: inline-block;
    width: 90px;
}

.header-container {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    display: inline-block;
    vertical-align: top;
}

.clause-container {
  float: top;
  min-height: 170px;
}

.left-top-container {
  width: 51%;
  float: left;
}

.right-top-container {
  width: 48%;
  float: right;
  text-align: center;
  min-height: 170px;
}

.left-container {
  width: 48%;
  left: 0px;
  float: left;
}

.right-container {
  width: 48%;
  float: right;
  right: 0px;
}

.sign-container {
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  position: relative;

  top: 100px
}

.payment-container {
  margin-left: 0.5cm;
}