<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="root-container">
<div id="Header" class="header-container">
    <div class="header-container">

        <img src="{{template_src}}/logo.png" alt="Logo">
    </div>
    <div class="header-container">
        <p>
            28  W 27th St <br>
            Suite 701 <br>
            New York, New York 10001 <br>
            Tel: (212)-366-0408 <br>
            Fax: (866)-59-4524            
        </p>
    </div>
    <div class="container"></div>
    <div class="header-container">
        <p>
            Torre Palmas, <br>
            Paseo De Las Palmas 795 <br>
            CDMX. MX
        </p>
    </div>
</div>
    <div class="clause-container">
        <div class="left-top-container">
            <p>
                Date: {{date}} <br>
                between: {{start_date}} and {{end_date}} <br> <br>
                for locartion in: {{location}} <br>
            </p>

            <p>
                Licensee herein licenses the following: <br>
                Desks/Offices: Pricing pursuant to Exhibit A <br>
                Workers/Employees: Pricing pursuant to Exhibit A <br>  
            </p>
        </div>
        <div class="right-top-container">
            <p>
                <br> <br> <br>
                {{licensee}} As licensee. <br>
                Located at: {{located_at}} <br>
            </p>
        </div>
    </div>
    <div class="left-container">
        <p>
            1.       Employees will be given access to their desk 24 hours a day, 7 days a week <br> <br>
            2.       All furniture, fixtures and equipment are to be provided by Licensee. Including but not limited to desks and computers. 5CRE has the right to refuse any furniture should it be larger than the standard desks and chairs promoted by 5CRE. Should licensee take a private office, they may furnish it however they like <br> <br>
            3.       Equipment: Licensee will be able to send equipment to: 2DA CERRADA LAGO BOLSENA #54, LAGO NORTE DF, MIGUEL HIDALGO, DF. MX <br> <br>
            Should you need ACH the money to us for a local pickup, 5CRE has the right to charge shipping and handling expenses in their procurement (including but not limited to: cab rides to pick up equipment, cost of labor in putting furniture together) <br> <br>
            5CRE where possible will be able to provide computer tech support, equipment support, and furniture assembly, these services shall be charged at an hourly rate separate to this agreement <br> <br>
            4.       5CRE does not warranty or insure Furniture, Fixtures and Equipment, Licensee understands that they are not named as additional insured on any policies carried by 5CRE or their affiliates and that licensee carries equipment at their own risk. Should a tenant license a private office, it may be possible to secure a dedicated insurance policy at additional cost. <br> <br>
            5.       Then rental/license payments are made every 2 weeks thereafter.
        </p>
    </div>

    <div class="right-container">
        <p>
            6.       Included in agreement is: Wyze or similar camera making every desk visible at all times, security, electricity and HR/Compliance <br> <br>
            7.       Location: unless the licensee has a private office, 5CRE has the right to move the desk at any time at 24 hours notice. If licensee has a private office, we may move them to a similar location on 15 days notice <br> <br>
            8.       Security deposit is there for non-payment and cancellation, premature termination of employees or agreement, it is not the entirety if damages, but it is for the faithful meeting of obligations met by licensee <br> <br>
            9.       Pricing for workers are noted in Exhibit A, unless otherwise stated; typical working hours are Monday thru Friday, 9am to 6pm with 1 hour for lunch. Depending on the country of your worker, there may be severance pay, paid vacation time and sick leave. If these expenses are in excess of the security deposit held with 5CRE, 5CRE shall be required to increase the security deposit. <br> <br>
            10.      Security can be increased to match the 1 month on hand should wages increase. Payments to remote workers are made bi-weekly. <br> <br>
            11.      Licensee is entirely autonomous from 5CRE and we do not warranty any of the work done by licensee workers, 5CRE purely provides a safe and secure work environment for workers and a platform for communication and oversight using modern technologies. <br> <br>
            12.      Form of payment: 5CRE accepts checks, e-check/ACH and wires. Can pay by Credit card for a 3.5% fee. Licensee can under no circumstances
        </p>
    </div>
</div>

<div class="root-container">
    <div class="left-container">
        <p>
            pay any workers directly in any form, all payments must be made through 5CRE or their affiliates. <br> <br>
            13.   Petty cash: it is advised, but not necessary, that Licensee keeps a virtual debit card, (paypal, cash app, chime) with 5CRE in order to cover operating costs should they arrive, in an expedient manner <br> <br>
            14.   Term and Termination: 5CRE can terminate this agreement at any time, can close the doors and terminate employees at cost of licensee in the event of non-payment. Contract length is initially 2 months, and can be extended to a maximum of 24 months at licensee’s discretion. Desk rental fee shall be fixed at commencement of every contract term. <br> <br>
            15.   Shared Internet is included at the location, should licensee require a dedicated internet connection, this can be provided as additional equipment. Cleaning is included in the desk rental fee, Should a private office need anything more than a standard cleaning, 5CRE will provide at an additional cost. <br> <br>
            16. Terms of service / License agreement are subject to reasonable change during the term of agreement with notice, should any changes be of a nature for which licensee feels onerous or not in the nature of the original agreement, licensee may terminate the agreement, however, security deposit and any obligations hereto shall remain. <br> <br>
            17.  Licensee, notes that any workers/employees provided by 5CRE or their affiliates are contractually tied to 5CRE or their affiliates, have signed non-circumvention agreements thereto, and that licensee shall be held directly liable for monetary and non-monetary damages should 
        </p>
    </div>
    <div class="right-container">
        <p>
            licensee attempt to remove a worker from the affiliation of 5CRE to a 3rd party. <br> <br>
            18. The desk fees are to be collected in US dollars, employee salaries are collected in their local currency via 5CRE’s affiliate.  <br> <br>
            19. Vacation Pay: Vacation pay is calculated as 25% of base pay for 6 work days during year 1, it will expand to 14 days, over a period of 5 years. <br> <br>
            20. Christmas Bonus: it is customary and mandatory to pay a Christmas bonus in all LATAM countries. It varies by country. But is calculated on Exhibit A <br> <br>
            21. Apartment Rental: Should customer elect to pay for the service, 5CRE will provide non-exclusive use of a two-bedroom apartment in {{apartment_city}}(city) for {{apartment_price}}usd per year, payable as one lump sum at signing. 5CRE shall provide cleaning before and after their stay. Bedding, towels and toiletries can be provided at an extra charge. All bookings are made on a first come, first serve basis. Customer is guaranteed three nights per month. Customer may extend their stay, free of charge, or elect to stay multiple times in any one month period on the condition that it is not already booked by another customer. No stay may exceed 10 days. 5CRE retains the right to refund a proportionate share of the annual payment and terminate staying rights for any reason. Included cleaning is limited to reasonable stay wear and tear. Agreement shall expire 1 year from payment. <br> <br>
            At time of generating this agreement: <br> <br>
            1USD = {{MXN}} Mexican Pesos <br>
            1USD = {{COP}} Colombian Pesos <br>
            1USD = {{BRL}} Brazilian Real. 
        </p>
    </div>
    <div class="sign-container">
        <br> <br> 
        <p>Agreed:</p> 
        <br> <br> <br> 
        <div class="right-container">
            <p>
                ___________________________________ <br>
                by: {{licensor}} <br>
                5CRE. Licensor. 
            </p>
        </div>
        <div class="left-container">
            <p>
                ___________________________________ <br>
                by: {{licensee}} <br>
                Licensee
            </p>
        </div>

    </div>
</div>

<div class="root-container">
    <p>
        Exibith A
        <br> <br> <br>
        <strong>SERVICE RELATED PAYMENTS</strong>
        Figures can be in USD or MXN (Mexican Pesos), as specified. Credit card processing fees are additional. Set up a recurring payment with Wise to save up to 4%. <br>
    </p>
    <div class="payment-container">
        <p>
            1. <strong>Onboarding Fee/Deposit.</strong>  A refundable Deposit of ${{onboarding}} USD, Payable at the signing of the contract in order to hire staff. Charged by 5CRE’s LATAM affiliate <br> <br>
            2. <strong> Security</strong> Deposit of {{security_MXN}}MXN (${{security_USD}}USD at time of writing, subject to change) (One month of salary), and Payable at the signing of the contract. Charged by 5CRE’s LATAM affiliate <br> <br>
            3. <strong>Bi-weekly Wage Payment of</strong>  {{wage_MXN}}MXN (${{wage_USD}}USD at time of writing, subject to change), Payable at 1st and 15th of every month, charged by 5CRE’s LATAM affiliate. <br> <br>
            4. <strong> Bi-weekly Rental Fee</strong> os 200 USD per desk charged by 5CRE <br> <br>
        </p>
        {{payment_schedule}}
        <p>PAYMENT SCHEDULE</p>
        <p>
            5. <strong>Other payments.</strong> <br> <br>
            <strong>Christmas bonus:</strong> {{christmas_MXN}} MXN (${{christmas_USD}}USD at time of writing, subject to change), payable for all workers who have been working at your organization for 4 or more months. Charged by 5CRE’s LATAM affiliate. Payable On December 1. <br>
            <strong>Apartment Fee:</strong>{{apartment_fee}} USD, Charged by 5CRE’s LATAM affiliate. Payable On:
        </p>
    </div>
</div>


</body>
</html>